/* General Styling */
body {
	font-family: 'Open Sans', sans-serif;
	color: black;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	color: #374458;
}
.light {
	color: white;
}
.dark {
	color: #374458;
}
.black {
	color: black;
}
.grey {
	color: #7C7C7C;
}
.blank-col {
	content: " ";
}
.center {
	text-align: center;
}
.section-title {
	font-size: 24px;
	text-align: center;
	padding-bottom: 0.8em;
	padding-top: 0.5em;
}

/* Page Styles */
#header {
    position: relative;
    width: 100%;
    height: 275px;
    background-color: #374458;
    max-height: 60vh;
    min-height: 200px;
    display: table;
}
#header-container {
	vertical-align: middle;
    display: table-cell;
}
#header-name, #header-desc {
	color: white;
	text-align: center;
}
#header-name {
	padding-top: 40px;
	line-height: 80px;
	height: 120px;
	font-size: 38px;
}
#header-desc {
	height: 80px;
	font-size: 20px;
}
#about {
	background-color: white;
	padding: 2em 0;
}
#about table {
	margin-left: 12px;
	margin-right: 12px;
}
.about-icon {
	font-size: 22px;
}
#about td {
	vertical-align: middle;
	padding: 4px 8px 4px 0;
	line-height: 1.3em;
}
#about-projects {
	padding-top: 14px;
	text-align: center;
}
#projects-button {
	font-size: 32px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	border-radius: 20px;
	border: 2px solid #374458;
	margin:auto;
	cursor: pointer;
	display: inline-block;
}
.project-result {
	font-size: 80%;
    margin-left: 6px;
}
.project-icon {
	margin-right: 4px;
}
.project-location {
	margin-top: 6px !important;
}
.project-summary {
	margin-top: -0.5em !important;
}
#projects-viewall {
	padding-top:4px;
	text-align: center;
}

#social {
	background-color: rgba(55, 68, 88, 0.9);
	color: white;
	text-align: center;
}
#social > .container {
	padding-top: 3em;
	padding-bottom: 4.5em;
}
#social .section-title {
	color: white;
}
#social-icons {
    line-height: 2em;
    font-size: 3.5em;
}
#social-email:hover {
	color: white;
}

.modal a { 
	color: black;
}
.modal-title {
	padding-bottom: 0;
	padding-left: 12px;
	width: 100%;
	text-align: center;
}
.modal-divider {
	display: none;
}
.gallery {
    width: 100%;
    height: auto;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.25);
}
.visit-links {
	text-align: center;
	padding: 1em;
	padding-bottom: 0.5em;
}
.visit-links {	
	width: 100%;
}
.other-links {
	text-align: center;
}
.social-icon {
	height: 40px;
	width: auto;
	padding: 2px;
}
.description {
	text-indent: 16px;
}
.desc-title {
	text-indent: 16px;
}
.desc-tech, .desc-collab {
	margin-bottom: 1rem;
}
	
/* Responsive */
@media only screen and (max-width: 768px) {
	#header {
		height: 150px;
	}
	#header-name {
		padding-top: 30px;
		line-height: 60px;
		height: 90px;
		font-size: 30px;
	}
	#header-desc {
		height: 60px;
		font-size: 16px;
	}
	#social > .container {
		padding-top: 2em;
		padding-bottom: 2.75em;
	}
}
@media (min-width: 992px) {
	.modal-lg {
		max-width: 900px;
	}
}
@media only screen and (max-width: 992px) {
	.modal-divider {
		display: block;
	}
	.desc-title {
		text-indent: 0;
	}
	.desc-tech, .desc-collab {
		text-align: center;
	}
}
@media only screen and (max-width: 1170px) {
	#projects-viewall {
		text-align: left;
		padding-left: 20px;
	}
}

/* Change typewriter color */
#header > .typewrite > .wrap {
    border-right: 0.08em solid white;
    padding-right: 8px;
}

/* Edits from Vertical Timeline CSS */
.cd-timeline__read-more {
	cursor: pointer;
	color: white !important;
}
.cd-timeline__content:hover {
    box-shadow: 1px 3px 10px #c4d4de;
}
.cd-timeline__content:before {
    top: calc(35px - 7px);
}
.cd-timeline__content {
	margin-left: 75px;
	transition: box-shadow 0.25s ease-in-out;
}
.cd-timeline__img {
	width: 70px;
	height: 70px;
	margin-left: -15px;
	overflow: hidden;
	background-color: white;
}
.cd-timeline__img img {
	width: 70px;
	height: 70px;
	margin-left: -35px;
	margin-top: -35px;
}
@media only screen and (min-width: 1170px) {
	.cd-timeline {
		margin-top: 2em;
	}
	.cd-timeline__img {
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.cd-timeline__img img {
		width: 100px;
		height: 100px;
		margin-left: -50px;
		margin-top: -50px;
	}
	.cd-timeline__date {
		left: 131%;
		top: calc(50px - 21px);
	}
	.cd-timeline__block:nth-child(even) .cd-timeline__date {
		right: 131%;
	}
	.cd-timeline__content::before, .cd-timeline__block:nth-child(even) .cd-timeline__content::before {
		top: calc(50px - 7px);
	}
	.cd-timeline__content {
		margin-left: 0;
		width: 43%;
	}
	.cd-timeline__block {
		margin: 2.5em 0;
	}
}