.face{
	width: 500px;
	height: 500px;
	background-color: #fff;
	border: 15px solid #5E3119;
    padding: 10px 40px; 
}
.dick {
    padding: 5px 20px; 
}
#towercrane div {
    display: inline-block;
    -webkit-transition: 0.5s;
}
#towercrane.present #scale {
    -webkit-transform: scale(1.2);
}

#namedate div {
    display: inline-block;
    -webkit-transition: 0.5s;
}
#namedate.present #position {
    -webkit-transform: translateY(-5px);
}
#namedate.present #rotate {
    -webkit-transform: rotate(5deg);
	-webkit-transition-delay: 0.5s;
}

#demo div {
    display: inline-block;
    -webkit-transition: 0.5s;
}
#demo.present #letsgo{
    -webkit-transform: scale(1.1);
}
#demo.present #go{
    -webkit-transform: translateX(15px);
	-webkit-transition-delay: 0.5s;
}

#overviewt div {
    display: inline-block;
    -webkit-transition: 0.5s;
}
#overviewt.present #text{
    -webkit-transform: translateY(175px);
}

#thanks div {
    display: inline-block;
    -webkit-transition: 1s;
}
#thanks.present #expand {
    -webkit-transform: scale(2.1);
}