#site-achievements{
	padding: 80px 0;
}
.achievement {
	padding-top: 10px;
}
.achievement-text {
	height: 90px;
}
i.fa {
	width: 90px;
	height: 90px;
	font-size: 30px;
	border: 4px solid #538CB7;
	padding: 25px;
	margin-bottom: 20px;
}