* {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
body {
	position: fixed;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
}
.title {
	text-align: center;
}
#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	display: table;
}
#nocanvas {
	text-align: center;
    display: table-cell;
    vertical-align: middle;
}