* {
	font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 100;
	line-height: 1.5;
}
#title {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 39px;
	width: 100%;
	background-color: black;
	color: white;
}
.menuIcon {
	cursor: pointer;
}
#menu {
	position: fixed;
	top: 39px;
	left: 0px;
	height: calc(100vh - 39px);
	width: 33px;
	background-color: black;
	color: white;
}
#menuText {
    opacity: 0; 
	position: fixed;
	top: 38px;
	left: 32px;
	height: calc(100vh - 38px);
	width: 55px;
	background-color: black;
	color: white;
    visibility: hidden;
	z-index: 5;
    -webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
    -moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
    -o-transition: visibility 0.2s linear, opacity 0.2s linear; 
}
.menuTextClass {
	height: 36px;
	cursor: pointer;
}
#page {
	position: fixed;
	top: 39px;
	left: 32px;
	height: calc(100vh - 39px);
	width: calc(100% - 32px);
	overflow-x: hidden;
	overflow-y: scroll;
	text-align: center;
}
.content {
	margin: 15px;
	text-align: left;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #E5E5E5;
	border: 1px solid transparent;
	border-radius: 8px;
	max-width: 2048px;
}
.content:hover {
	background-color: #DADADA;
}
p {
  text-indent: 40px;
}