*  {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
html {	
	background-image: url(background.jpg); 
	background-color: black;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Exo', sans-serif;
	color: white;
	height: 100%;
	width: 100%;
}
#impress {
	height: 100%;
	width: 100%;
}
img{
	margin-left: auto;
    margin-right: auto;
    display: block;
	width: auto;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
}
.bold {
	font-weight: 700;
	font-size: 48px;
}
.medium {
	font-weight: 500;
	font-size: 32px;
}
li {
	font-weight: 400;
	font-size: 28px;
}
.slidetext .normal {
	text-align: left;
}
.normal {
	font-weight: 400;
	font-size: 28px;
}
sup {
	font-size: small; 
	vertical-align: super;
}
.overText {
	padding-left: 150px;
	padding-right: 150px;
	position: absolute; 
	bottom: 200px;
	text-align: center;
	width: calc( 100% - 300px );
	background: rgba(0, 0, 0, 0.5);
}
.step {
    position: relative;
    margin: 20px auto;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    font-size: 28px;
    line-height: 1.5;
}
.impress-enabled .step {
    margin: 0;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition:    all ease-in-out 1s;
    -ms-transition:     all ease-in-out 1s;
    -o-transition:      all ease-in-out 1s;
    transition:         all ease-in-out 1s;
}
.impress-enabled .step.active { 
	opacity: 1;
}
p {
	word-wrap: break-word;
}
#musicPlayer {
	 position: fixed; 
	 bottom: 0px; 
	 left: 5px;
}
#player {
    -webkit-transition: all ease-in-out 0.25s;
    -moz-transition:    all ease-in-out 0.25s;
    -ms-transition:     all ease-in-out 0.25s;
    -o-transition:      all ease-in-out 0.25s;
    transition:         all ease-in-out 0.25s;
}
.slidetext.active {
	opacity: 1;
}
.slidetext {
	opacity: 0;
}