* { 
	font-family: "Open Sans";
	margin: 0 0 0 0;
}
#header{
	z-index: 10;
	position: fixed;
	top: 0;
	left: 0;
	height: 32px;
	width: 100%;
    background-color: #9BC0F2;
	border-bottom: 1px solid #000080;
	line-height: 32px;
	font-size: 15px;
	padding-left: 1em;
	padding-right: 1em;
}
#headerText {
	display: inline;
}
#body {
	background-color: lightblue;
	position: relative;
	top: 32px;
	left: 32px;
	width: calc(100% - 32px);
	height: calc(100vh - 32px);
}
#taskbar {
	position: fixed;
	top: 32px;
	left: 0;
	width: 32px;
	height: 100vh;
	background-color: #dfdfdf;
	border-right: 1px solid grey;
}
#taskbarText {
	width: 96px;
	position: fixed;
	top: 32px;
	left: 32px;
	height: 100vh;
	background-color: #dfdfdf;
	border-right: 1px solid grey;
	visibility: hidden;
    opacity: 0; 
	-webkit-transition: visibility 0.2s linear, opacity 0.2s linear; 
	-moz-transition: visibility 0.2s linear, opacity 0.2s linear; 
	-o-transition: visibility 0.2s linear, opacity 0.2s linear;
}
.icon{
	cursor:pointer;
	padding: 2px;
}
.taskbarIcon {
	cursor: pointer;
}
b{
    background-color: #ffff00;
}
.res {
	padding: 8px;
}
dd {
	text-indent: 40px;
}
#content {
	background-color: white;
	margin: -20px;
}
#content2 {
	background-color: white;
	margin: -20px;
}
.well{
	background-color: #96ccdf;
	border-color: #9CC2CF;
}
.tit{
	text-align: center;
	background-color: rgb(150, 204, 223);
	border-radius: 4px;
	line-height: 1.5;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #e3e3e3;
	border-color: #9CC2CF;
}
#headerControls {
	opacity: 0.25;
	-webkit-transition: visibility 0.1s linear, opacity 0.2s linear; 
	-moz-transition: visibility 0.1s linear, opacity 0.2s linear; 
	-o-transition: visibility 0.1s linear, opacity 0.2s linear;
}
#headerControls:hover {
	opacity: 1;
}
#pagen {
	text-align: center;
}
#user {
	float: right;
}
.wraptext{
	word-break: break-word;
}
